* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Start from here */
body{
  width: 100%;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
button {
  background-color: #ff900e;
  color: white;
  font-size: 16px;
  font-weight: semi-bold;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  background-color: rgba(255, 144, 14, 0.1);
}
nav h2 {
  font-size: 2.8rem;
  font-weight: bold;
  padding: 50px 0 50px;
}
nav .button {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav .button a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: medium;
}
.banner {
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
  padding: 0 auto;
  padding-bottom: 45px;
}
.banner-content {
  width: 860px;
}
.banner-content h2 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 37px;
}
.banner-pic img {
  width: 100%;
  height: auto;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
  margin: 45px auto 130px;
}
.feature-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-pic img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.feature-content {
  width: 540px;
}
.feature-content h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}
.feature-content h2 .gray {
  color: #727272;
}
.feature-content h2 .orange {
  color: #ff900e;
}
.feature2 {
  display: flex;
  gap: 55px;
  justify-content: center;
  align-items: center;
  margin: 130px auto 0;
  width: 1400px;
}
.feature2-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.feature2-content .head h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
  width: 465px;
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}
.feature2-content .box {
  padding: 30px;
  padding: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}
.feature2-content .box h4 {
  font-size: 20px;
  font-weight: semi-bold;
  margin-bottom: 9px;
}
.feature2-pic img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#big-button {
  padding: 42px 45px;
  margin-top: -65px;
  margin-left: -45px;
}
#big-button span {
  font-size: 50px;
}
.fact {
  margin-bottom: 180px;
}
.fact-head {
  text-align: center;
}
.fact-head h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}
.fact-head p {
  margin-bottom: 100px;
}
.fact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.fact-content .card {
  border: 1px solid #e0e0e0;
  padding: 46px 37px;
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  /* width: 240px; */
}
.fact-content .card img {
  margin-bottom: 10px;
}
.fact-content .card h2 {
  font-size: 45px;
  font-weight: semi-bold;
  margin-bottom: 8px;
}
.fact-content .card h5 {
  font-size: 20px;
  line-height: 26px;
  color: #727272;
}
.sponsor {
  margin-bottom: 130px;
}
.sponsor-head {
  text-align: center;
}
.sponsor-head h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.sponsor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.sponsor-icon img {
  filter: grayscale(100%);
}
footer {
  /* padding: 40px ; */
  background-color: rgba(255, 244, 231, 1);
  width: 71%;
  margin: 0 auto;
  margin-bottom: 115px;
}
footer p {
  padding: 37px 0;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none !important;
}

@media screen and (max-width: 567px) {
  nav {
    flex-direction: column;
    /* justify-content: flex-start; */
    padding-bottom: 20px;
  }
  nav h2 {
    font-size: 1.8rem;
    padding: 15px 0;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h2 {
    font-size: 34px;
    margin-bottom: 27px;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-pic {
    width: 100%;
    padding: 0 5%;
  }
  .feature {
    flex-direction: column;
  }
  .feature-pic {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .feature2 {
    flex-direction: column;
    width: auto;
  }
  .feature2-pic {
    width: 85%;
  }
  #big-button {
    padding: 20px 20px;
    margin: 10px 120px;
  }
  .fact-head {
    text-align: center;
    width: 100%;
  }
  .fact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 5%;
  }
  .fact-content .card {
    padding: 25px 26px;
  }
  .fact {
    margin-bottom: 30px;
  }
  .sponsor {
    margin-bottom: 50px;
    width: 100%;
  }
  .sponsor-icon {
    flex-direction: column;

    gap: 40px;
  }
  footer {
  
    margin-bottom: 30px;
}
}
